body {
background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(nature.jpg);
}

.grid {
width: 600px;
height: 500px;
margin: 0 auto;
background-color: #c0c4b3;
padding: 10px 50px 50px 50px;
border-radius: 50px;
border: 2px solid #e0e346;
box-shadow: 10px 15px 5px #e0e346;
background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(dark.jpg);
}

.grid h1 {
font-family: "sans-serif";
background-color: #ed091c;
font-size: 60px;
text-align: center;
color: #ffffff;
padding: 2px 0px;
border-radius: 50px;
}

#score {
color: lightblue;
text-align: center;
font-size: 30px;
}


.grid #question {
font-family: "monospace";
font-size: 30px;
color: white;
}


.buttons {
margin-top: 30px;
}

#bt0, #bt1, #bt2, #bt3 {
background-color: #57ccd9;
width: 250px;
font-size: 20px;
color: black;
border: 1px solid white;
border-radius: 50px;
margin: 10px 40px 10px 0px;
padding: 10px 10px;
}

#bt0:hover, #bt1:hover, #bt2:hover, #bt3:hover {
cursor: pointer;
background-color: #d9114d; 
}   

#bt0: focus, #bt1: focus, #bt2: focus, #bt3: focus {
outline: 0;
}

#progress {
color: darkblack;
font-size: 18px;
}


 





